:host {
  display: block;
  position: relative;
  flex: 1;
}
.module-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  height: 100%;
  .co-title {
    font-size: 3rem;
    line-height: 3rem;
    width: 75%;
    padding: 3rem 0;
    font-family: 'Helvetica Black';
  }
  .co-content {
    display: flex;
    .co-content-left {
      width: 100%;
      .swiper-container {
        width: calc(var( --uni-global-col-width) * 2);
        margin: 0;
        margin-right: auto;
      }
      .content-info {
        width: calc(var(--uni-global-col-width) * 3);
        line-height: 1.5625rem;
        font-size: 1.125rem;
        color: #ffffff;
        padding-top: 9vh;
      }
    }
    .co-content-right {
      display: flex;
      flex-direction: column;
      width: var(--uni-global-col-width);
      .count-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 1.5625rem;
        .item-count {
          font-size: 2rem;
          color: #FFFFFF;
          font-weight: bold;
          font-family: 'Helvetica Black';
          line-height: 2.25rem;
        }
        .item-name {
          font-weight: 300;
          line-height: normal;
          font-size: 1.25rem;
          color: #FFFFFF;
        }
      }
    }
  }
}


/deep/.swiper-pagination-bullet {
  width: 1.5625rem;
  background-color: #ffffff;
  height: 1px;
}

@media all and (max-width: 992px) {
   .module-info {
     padding: 0 var(--uni-global-side-padding);
     .co-content {
       flex-direction: column;
       .co-content-left {
         .content-info {
           width: 100%;
           padding-top: 4vh;
         }
         .content-swiper {
          display: flex;
          justify-content: center;
          .swiper-container {
           margin: auto;
          }
         }
       }
       .co-content-right {
         padding-bottom: 0;
         padding-top: 1.5625rem;
       }
     }
   }
}
