<div class="module-info">
  <div class="ng-title">
    Azərbaycan Dövlət Aqrar Universiteti
    </div>
  <div class="ng-content">
    <div class="ng-content-left">
        <div class="content-swiper">
          <div  class="swiper-container" [swiper]="config" >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="./assets/img/uni-cover.png">
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/uni-cover.png">
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/uni-cover.png">
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/uni-cover.png">
              </div>
            </div>

            <div class="swiper-scrollbar"></div>
            <div class="swiper-pagination"></div>

          </div>
        </div>
        <div class="content-info">
          Azərbaycan Kənd Təsərrüfatı İnstitutu (indi ADAU)
           nəinki yük­səkixtisaslı kadrlar hazırlamalı, həm də respublikada kənd
           təsərrüfatını daha da inkişaf etdirmək sahəsində elmi tədqiqatların mühüm mərkəzi olmalıdır
        </div>
    </div>
    <div class="ng-content-right">
      <div class="content-count"></div>
    </div>
  </div>
</div>
