<div class="module-info">
  <div class="co-title">
    Azərbaycan Dövlət Aqrar Universiteti
    </div>
  <div class="co-content">
    <div class="co-content-left">
        <div class="content-swiper">
          <div  class="swiper-container" [swiper]="config" >
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="./assets/img/uni-cover.png">
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/uni-cover.png">
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/uni-cover.png">
              </div>
              <div class="swiper-slide">
                <img src="./assets/img/uni-cover.png">
              </div>
            </div>

            <div class="swiper-pagination"></div>

          </div>
        </div>
        <div class="content-info">
          Azərbaycan Kənd Təsərrüfatı İnstitutu (indi ADAU)
           nəinki yük­səkixtisaslı kadrlar hazırlamalı, həm də respublikada kənd
           təsərrüfatını daha da inkişaf etdirmək sahəsində elmi tədqiqatların mühüm mərkəzi olmalıdır
        </div>
    </div>
    <div class="co-content-right">
      <div class="count-box">
          <div class="item-count" countUp [endVal]="'32'" [duration]="3"></div>
          <div class="item-name">Fakültə</div>
      </div>
      <div class="count-box">
          <div class="item-count" countUp [endVal]="'2,115'" [duration]="3"></div>
          <div class="item-name">Müəllim</div>
      </div>
      <div class="count-box">
          <div class="item-count" countUp [endVal]="'220,756'" [duration]="3"></div>
          <div class="item-name">Tələbə</div>
      </div>

    </div>
  </div>
  <uni-footer></uni-footer>
</div>
