:host {
  display: block;
  width: 100%;
  position: relative;
}
.app-icon {
  position: fixed;
  left: 0;
  top: 0;
  margin-left: var( --uni-global-side-padding);
  margin-top: var(--uni-global-top-padding);
  width: 6.875rem;
}
.co-wrapper {
  display: flex;
  width: 100%;
  .nav-tab {
    width: var( --uni-global-col-width);
    position: relative;
    .nav-tab-backdrop {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: calc(var(--uni-global-top-padding) * -1);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.18) 100%);
      transition: opacity 300ms ease-in-out;
      pointer-events: none;
      visibility: hidden;
    }
    .nav-tab-link {
      font-family: 'Helvetica Black';
      line-height: 1.1875rem;
      font-size: 1.5rem;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      font-weight: bold;
      position: relative;
      z-index: 1;
      opacity: 0.3;
      cursor: pointer;
      transition: opacity 0.3s ease-in-out;
    }
    &.active {
      .nav-tab-link {
       opacity: 1;
      }
      .nav-tab-backdrop {
         visibility: visible;
         animation-duration: 1s;
       //  animation-name: slideIn;
         opacity: 0.5;

      }
    }
  }
}
@keyframes slideIn {
  from {
    transform: translateX(-25vh);
  // transform: translateX('20vw');
    visibility: visible;
  }

  to {
    transform: translateX(0);
  }
}

@media all and (max-width: 992px) {
  .co-wrapper {
    flex-direction: column;
    align-items: center;
    padding-right: 0;
    padding-top: 7vh;

    .nav-tab {
      padding-bottom: 4vh;
      width: auto;
      .nav-tab-link {
        text-align: right;
      }
    }
  }
}
