<div class="co-wrapper">
  <div class="nav-tab" [routerLink]="['/login']" routerLinkActive="active" >
    <div class="nav-tab-backdrop"></div>
    <div class="nav-tab-link">GİRİŞ</div></div>
  <div class="nav-tab" [routerLink]="['/university']" routerLinkActive="active">
    <div class="nav-tab-backdrop"></div>
    <div class="nav-tab-link">UNİVERSİTET</div></div>
  <div class="nav-tab" [routerLink]="['/unibook']" routerLinkActive="active">
    <div class="nav-tab-backdrop"></div>
    <div class="nav-tab-link">UNIBOOK</div></div>
</div>
