:host {
  display: block;
  position: relative;
}
/deep/ .mat-form-field-label {
  color: #FFFFFF!important;
}
/deep/ .mat-form-field-underline {
  background-color: #FFFFFF!important;
}
.login-wrapper {
  display: flex;
  padding-top: 171px;
  .login-box {
    display: flex;
    width: 20%;
    padding: 45px;
    background: rgba(0, 0, 0, 0.3);
    .login-form {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;

      button.btn-submit {
        position: absolute;
        bottom: -100px;
        margin-top: 100px;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
        align-self: center;
      }
    }
  }
  .login-cover {
    width: 576px;
  }
}
