:host {
  display: flex;
  align-items: center;
  position: relative;
}
.module-info {
  color: #ffffff;
  padding-right: 3.125rem;
  width: calc(var( --uni-global-col-width) * 2);
  .ng-title {
    font-size: 3.125rem;
    padding-top: 17vh;
    font-family: 'Helvetica Black';
    line-height: 3.125rem;
  }
  .ng-content {
    line-height: 1.5625rem;
    font-size: 1.125rem;
    padding-top: 1.875rem;
  }
}
.module-cover {
  top: 4vh;
  width: 50%;
  position: absolute;
  right: 0;
  img {
    height: auto;
  }
}

@media all and (max-width: 992px) {
  :host {
    flex-direction: column;
  }
  .module-cover {
    position: static;
  }
  .module-info {
    order: 1;
    .ng-title {
      padding-top: 0;
    }
  }
}
