<div class="module-info">
  <div class="ng-title">
    Electronic Education <br>Platform
  </div>
  <div class="ng-content">
    Təhsilin informasiya idarə etmə sisteminin tətbiqi həmçinin tələbələrin və müəllimlərin
    elektron məlumat bazasının yaradılmasını, tədris prosesinin, təhsilin məzmunun və insan
    resurslarının elektron idarə edilməsini təmin edəcək. Sistem vasitəsilə eyni zamanda elektron
    qiymətləndirmə, elektron imtahan və təqaüd hesablanması da həyata keçiriləcək.
     “Unibooka” daxil olmaq istəyən tələbə və müəllimlərə verilən onlayn giriş imkanı ilə onlar
     istənilən məlumatı öyrənə biləcəklər
  </div>
</div>
<div class="module-cover" [@fadeIn]="true">
  <img src="./assets/img/iMac_3.png">
</div>
