:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var( --uni-global-col-width);
  z-index: 1;
}

.app-icon {
  margin-left: var( --uni-global-padding);
  width: 110px;
}
.nav-current-number {
  display: flex;
  margin-top: auto;
  margin-left: var( --uni-global-padding);
  line-height: 39px;
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 44px;
  font-family: 'Helvetica Black';
}

.nav-line-navigation {
  padding-bottom: var( --uni-global-padding);
  .nav-line-box {
    display: flex;
    align-items: flex-end;
    .nav-line {
     height: 1px;
     background: #FFFFFF;
     width: calc(var(--uni-global-padding));
    }
    .nav-line-number {
      padding-left: 15px;
      line-height: 13px;
      font-size: 14px;
      color: #FFFFFF;
    }
    &:first-child {
    padding-bottom: 60px;
    }
  }
}
